# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/models/isolation_forest.pkl
backend/models/scaler.pkl

# Database (too large for GitHub)
backend/fraud_detection.db

# Dataset (284MB, never commit this)
data/creditcard.csv

# Node
frontend/node_modules/
frontend/.next/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db